@page
@model LindnerAirlines.Pages.Payments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="bgim">

    <h1>List of Payments</h1>

    <p>
        <a class="btn  btn-sm btn-primary" asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Payment[0].Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Payment[0].PaymentMethod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Payment[0].TransactionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Payment[0].User)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Payment)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentMethod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td>
                        <a class="btn  btn-sm btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn  btn-sm btn-outline-primary" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a class="btn  btn-sm btn-outline-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
